---
- hosts: localhost
  gather_facts: false
  tasks:
    - name: Run emit-job-header role
      include_role:
        name: emit-job-header
      vars:
        zuul_log_url: https://logs.zuul.ansible.com

    - name: Run log-inventory role
      include_role:
        name: log-inventory

- hosts: all:!appliance
  tasks:
    - name: Run add-build-sshkey role
      include_role:
        name: add-build-sshkey

    - name: Run start-zuul-console role
      include_role:
        name: start-zuul-console

    - name: Run prepare-workspace-git role
      include_role:
        name: prepare-workspace-git
